html {
    font-size: 62.5%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Public Sans', sans-serif;
    color: #ffffff;
    font-size: 1.7rem;
    font-weight: 300;
    background-color: #F0EDE5;
}

.main-conteiner {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-wrap: wrap;
    padding: 10rem 1.5rem;
    gap: 1.5rem;
}

.main-conteiner .pintura-area {
    height: 43.2rem;
    position: relative;
}

.main-conteiner .pintura-area .nome-pintura {
    display: block;
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
}

.main-conteiner .pintura-area figcaption {
    position: absolute;
    bottom: 0;
    margin: 15px;
}